In [0]:
%sql
CREATE TABLE Sales (
  sale_id INT,
  sale_date DATE,
  amount INT
)

In [0]:
%sql
INSERT INTO Sales VALUES
(1, '2025-09-01', 1000),
(2, '2025-09-02', 2000),
(3, '2025-09-03', 1500),
(4, '2025-09-04', 3000);

num_affected_rows,num_inserted_rows
4,4

In [0]:
%sql
select * from sales

sale_id,sale_date,amount
1,2025-09-01,1000
2,2025-09-02,2000
3,2025-09-03,1500
4,2025-09-04,3000

**Show running total: Cummulative**

In [0]:
%sql
select * , sum(amount) over(order by sale_date) as running_total from sales

sale_id,sale_date,amount,running_total
1,2025-09-01,1000,1000
2,2025-09-02,2000,3000
3,2025-09-03,1500,4500
4,2025-09-04,3000,7500

**Find the second, third highest salary**

In [0]:
%sql
with cte as (
select *, row_number() over(order by amount desc) rn from sales
)
select * from cte where rn = 2

sale_id,sale_date,amount,rn
2,2025-09-02,2000,2

**Python - Reverse a list without using built-in reverse()**

In [0]:
nums = [10,20,30,40,50]
a=[]
for i in range(len(nums) -1, -1, -1):
  a.append(nums[i])

a

[50, 40, 30, 20, 10]

**Python - Find the duplicates elements in a list**

In [0]:
num = [1, 2, 3, 2, 4, 5, 1, 6]

d = {}
a = []
for i in num:
  if i in d:
    d[i] += 1
  else:
    d[i] = 1
d

for key, value in d.items():
  if value > 1:
    a.append(key)
a

[1, 2]

**Pyspark - Sales by product per month**

In [0]:
data = [
    ("jan", "Mobile", 1000),
    ("jan", "Laptop", 2000),
    ("feb", "Mobile", 1500),
    ("feb", "Laptop", 3000),
    ("mar", "Mobile", 1200),
]

df = spark.createDataFrame(data, ["month", "product", "sales"])
df.show()

+-----+-------+-----+
|month|product|sales|
+-----+-------+-----+
|  jan| Mobile| 1000|
|  jan| Laptop| 2000|
|  feb| Mobile| 1500|
|  feb| Laptop| 3000|
|  mar| Mobile| 1200|
+-----+-------+-----+

In [0]:
df.groupBy("month").pivot("product").sum("sales").show()

+-----+------+------+
|month|Laptop|Mobile|
+-----+------+------+
|  jan|  2000|  1000|
|  feb|  3000|  1500|
|  mar|  NULL|  1200|
+-----+------+------+

**Remove duplicates from a list**

In [0]:
num = [1, 2, 3, 2, 4, 1, 5]
l = []

for i in num:
    if i not in l:
        l.append(i)
print(l)

[1, 2, 3, 4, 5]

**Find the largest elements in the list**

In [0]:
l = [2, 3, 44, 1, 55, 6, 7]

max = l[0]
for i in l:
    if i > max:
        max = i
max

55

**Count word frequency in a string**

In [0]:
text = "data engineer data python sql data engineer"

l = text.split()
# print(l)

d = {}
for i in l:
    if i in d:
        d[i] += 1
    else:
        d[i] = 1
d

{'data': 3, 'engineer': 2, 'python': 1, 'sql': 1}

**Find factorial of a number**

In [0]:
def fact(n):
  if n == 0:
    return 1
  else:
    return n * fact(n-1)
fact(4)

24

In [0]:
def factorial(n):
    result = 1
    for i in range (1, n+1):
        result *= i
    return result
factorial(4)

24

**Reverse a string without using built-in reverse**

In [0]:
a = 'hello'

#a[::-1]

str = ""

for i in a:
    str = i + str
str

'olleh'

**Check if a number is prime or not**

In [0]:
def prime(n):
    if n <= 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True
prime(11)

True

**Print even number from a list**

In [0]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

l = []

for i in a:
    if (i % 2 == 0):
        l.append(i)
l

[2, 4, 6, 8, 10]

**Find second largest element from the LIST**

In [0]:
nums = [10, 20, 4, 45, 99]
sorted(nums)[-2]

45

**Reverse Integer**

In [0]:
n = 1234
int(str(n)[::-1])

4321

**Missing Number 1 to N**

In [0]:
nums = [1, 2, 4, 5, 6, 7]
# (1+2+3+4+5+6+7)-sum(nums)
n = len(nums)+1
sum_nat = n*(n+1)/2
sum_nums=sum(nums)
sum_nat - sum_nums

3.0

**Reverse Words in sentence**

In [0]:
s = "I Love Python"
' '.join(s.split()[::-1])

'Python Love I'

**Anagram Check**

In [0]:
# Two string are anagrams if they contain the same characters in the same frequency. For example, "abc" and "cab" are anagrams, but "abc" and "cabd" are not.

s1 = "listen"
s2 = "silent"
sorted(s1) == sorted(s2)

True

**Palindrome Check**

In [0]:
# A string/number is a palindrome if it reads the same backward as forward. For example, "racecar" is a palindrome, but "racecars" is not.

s = "racecar"
if s == s[::-1]:
  print("palindrome")
else:
  print("not palindrome")

palindrome

**Combine Two List**

In [0]:
names = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 95]

list(zip(names, scores))

[('Alice', 85), ('Bob', 90), ('Charlie', 95)]

## **SQL Coding Question**

In [0]:
%sql
CREATE TABLE employee (
  emp_id STRING,
  emp_name STRING,
  dept STRING,
  manager_id INT,
  salary DECIMAL(12,2),
  hire_date DATE,
  location STRING,
  performance INT,
  is_active BOOLEAN
);

INSERT INTO employee (
  emp_id, emp_name, dept, manager_id, salary, hire_date, location, performance, is_active
) VALUES
(1, 'Emp_Arjun', 'Engineering', NULL, 200000.00, '2019-03-15', 'Bangalore', 5, true),
(2, 'Emp_Neha', 'Engineering', 1, 180000.00, '2021-01-01', 'Bangalore', 4, true),
(3, 'Emp_Ramesh', 'Engineering', 1, 180000.00, '2021-01-01', 'Bangalore', 4, true),
(4, 'Emp_Priya', 'Sales', NULL, 200000.00, '2019-03-15', 'Kochi', 5, true),
(5, 'Emp_Vikram', 'Sales', 4, 180000.00, '2021-01-01', 'Chennai', 3, true),
(6, 'Emp_Kiran', 'Finance', NULL, 180000.00, '2021-01-01', 'Ahmedabad', 4, true),
(7, 'Emp_Asha', 'Engineering', 1, 180000.00, '2021-01-01', 'Bangalore', 2, true),
(8, 'Emp_Shruthi', 'HR', NULL, 180000.00, '2021-01-01', 'Mumbai', 3, true),
(9, 'Emp_Raj', 'Engineering', 2, 180000.00, '2021-01-01', 'Delhi', 4, true),
(10, 'Emp_Sheela', 'Sales', 4, 180000.00, '2021-01-01', 'Hydarbad', 4, true)

num_affected_rows,num_inserted_rows
10,10

In [0]:
%sql
select * from employee

emp_id,emp_name,dept,manager_id,salary,hire_date,location,performance,is_active
1,Emp_Arjun,Engineering,null,200000.00,2019-03-15,Bangalore,5,true
2,Emp_Neha,Engineering,1,180000.00,2021-01-01,Bangalore,4,true
3,Emp_Ramesh,Engineering,1,180000.00,2021-01-01,Bangalore,4,true
4,Emp_Priya,Sales,null,200000.00,2019-03-15,Kochi,5,true
5,Emp_Vikram,Sales,4,180000.00,2021-01-01,Chennai,3,true
6,Emp_Kiran,Finance,null,180000.00,2021-01-01,Ahmedabad,4,true
7,Emp_Asha,Engineering,1,180000.00,2021-01-01,Bangalore,2,true
8,Emp_Shruthi,HR,null,180000.00,2021-01-01,Mumbai,3,true
9,Emp_Raj,Engineering,2,180000.00,2021-01-01,Delhi,4,true
10,Emp_Sheela,Sales,4,180000.00,2021-01-01,Hydarbad,4,true

**Show employee with their manager details**

In [0]:
%sql
select e.emp_id,e.emp_name, m.emp_name manager_name from employee e left join employee m on e.manager_id = m.emp_id

emp_id,emp_name,manager_name
1,Emp_Arjun,null
2,Emp_Neha,Emp_Arjun
3,Emp_Ramesh,Emp_Arjun
4,Emp_Priya,null
5,Emp_Vikram,Emp_Priya
6,Emp_Kiran,null
7,Emp_Asha,Emp_Arjun
8,Emp_Shruthi,null
9,Emp_Raj,Emp_Neha
10,Emp_Sheela,Emp_Priya

**Second highest distinct salary overall**

In [0]:
%sql
with cte as (
select * , dense_rank() over(order by salary desc) rn from employee
)
select * from cte where rn = 2

emp_id,emp_name,dept,manager_id,salary,hire_date,location,performance,is_active,rn
2,Emp_Neha,Engineering,1,180000.00,2021-01-01,Bangalore,4,true,2
3,Emp_Ramesh,Engineering,1,180000.00,2021-01-01,Bangalore,4,true,2
5,Emp_Vikram,Sales,4,180000.00,2021-01-01,Chennai,3,true,2
6,Emp_Kiran,Finance,null,180000.00,2021-01-01,Ahmedabad,4,true,2
7,Emp_Asha,Engineering,1,180000.00,2021-01-01,Bangalore,2,true,2
8,Emp_Shruthi,HR,null,180000.00,2021-01-01,Mumbai,3,true,2
9,Emp_Raj,Engineering,2,180000.00,2021-01-01,Delhi,4,true,2
10,Emp_Sheela,Sales,4,180000.00,2021-01-01,Hydarbad,4,true,2

**Top 3 earners per derpartment (with emp_name)**

In [0]:
%sql
with cte as (
select * , dense_rank() over(partition by dept order by salary desc) rn from employee
)
select * from cte where rn between 1 and 3

emp_id,emp_name,dept,manager_id,salary,hire_date,location,performance,is_active,rn
1,Emp_Arjun,Engineering,null,200000.00,2019-03-15,Bangalore,5,true,1
2,Emp_Neha,Engineering,1,180000.00,2021-01-01,Bangalore,4,true,2
3,Emp_Ramesh,Engineering,1,180000.00,2021-01-01,Bangalore,4,true,2
7,Emp_Asha,Engineering,1,180000.00,2021-01-01,Bangalore,2,true,2
9,Emp_Raj,Engineering,2,180000.00,2021-01-01,Delhi,4,true,2
6,Emp_Kiran,Finance,null,180000.00,2021-01-01,Ahmedabad,4,true,1
8,Emp_Shruthi,HR,null,180000.00,2021-01-01,Mumbai,3,true,1
4,Emp_Priya,Sales,null,200000.00,2019-03-15,Kochi,5,true,1
5,Emp_Vikram,Sales,4,180000.00,2021-01-01,Chennai,3,true,2
10,Emp_Sheela,Sales,4,180000.00,2021-01-01,Hydarbad,4,true,2

**Flag employees above department average salary**

In [0]:
%sql
with cte as (
select emp_id, emp_name, salary, avg(salary) over(partition by dept) dpt_avg_salary,
case when salary > avg(salary) over(partition by dept) then True else False end sal_greater_than_dpt_avg
from employee
)
select * from cte where sal_greater_than_dpt_avg = 'true'
-- select * from employee where sal_greater_than_dpt_avg = True

emp_id,emp_name,salary,dpt_avg_salary,sal_greater_than_dpt_avg
1,Emp_Arjun,200000.00,184000.000000,true
4,Emp_Priya,200000.00,186666.666667,true

**Compare employee salary Vs their manager salary (with names)**

In [0]:
%sql
select e.emp_id, e.emp_name, e.salary emp_salary, m.emp_name manager_name, m.salary manager_salary from employee e left join employee m on e.manager_id = m.emp_id

emp_id,emp_name,emp_salary,manager_name,manager_salary
1,Emp_Arjun,200000.00,null,null
2,Emp_Neha,180000.00,Emp_Arjun,200000.00
3,Emp_Ramesh,180000.00,Emp_Arjun,200000.00
4,Emp_Priya,200000.00,null,null
5,Emp_Vikram,180000.00,Emp_Priya,200000.00
6,Emp_Kiran,180000.00,null,null
7,Emp_Asha,180000.00,Emp_Arjun,200000.00
8,Emp_Shruthi,180000.00,null,null
9,Emp_Raj,180000.00,Emp_Neha,180000.00
10,Emp_Sheela,180000.00,Emp_Priya,200000.00

## **Pyspark coding question and answer**

In [0]:
data = [
    (1, "Alice", "TXN1001", 250, "2025-09-20"),
    (1, "Alice", "TXN1001", 250, "2025-09-20"),  # exact duplicate row
    (1, "Alice", "TXN1002", 300, "2025-09-21"),  # same customer, diff txn
    (2, "Bob", "TXN1003", 400, "2025-09-20"),
    (2, "Bob", "TXN1003", 400, "2025-09-20"),    # exact duplicate row
    (3, "Cathy", "TXN1004", 150, "2025-09-21"),
    (4, "Dan", "TXN1005", 200, "2025-09-22"),
    (4, "Dan", "TXN1006", 500, "2025-09-23"),    # same customer, diff txn
]
df = spark.createDataFrame(data, ["customer_id","name", "txn_id", "amount", "txn_date"])
df.show()

+-----------+-----+-------+------+----------+
|customer_id| name| txn_id|amount|  txn_date|
+-----------+-----+-------+------+----------+
|          1|Alice|TXN1001|   250|2025-09-20|
|          1|Alice|TXN1001|   250|2025-09-20|
|          1|Alice|TXN1002|   300|2025-09-21|
|          2|  Bob|TXN1003|   400|2025-09-20|
|          2|  Bob|TXN1003|   400|2025-09-20|
|          3|Cathy|TXN1004|   150|2025-09-21|
|          4|  Dan|TXN1005|   200|2025-09-22|
|          4|  Dan|TXN1006|   500|2025-09-23|
+-----------+-----+-------+------+----------+

**Remove duplicate rows**

In [0]:
df.distinct().show()

+-----------+-----+-------+------+----------+
|customer_id| name| txn_id|amount|  txn_date|
+-----------+-----+-------+------+----------+
|          1|Alice|TXN1001|   250|2025-09-20|
|          1|Alice|TXN1002|   300|2025-09-21|
|          2|  Bob|TXN1003|   400|2025-09-20|
|          3|Cathy|TXN1004|   150|2025-09-21|
|          4|  Dan|TXN1005|   200|2025-09-22|
|          4|  Dan|TXN1006|   500|2025-09-23|
+-----------+-----+-------+------+----------+

**Exact duplicate records**

In [0]:
from pyspark.sql.functions import *
df.groupBy(df.columns).count().filter(col("count")>1).show()

+-----------+-----+-------+------+----------+-----+
|customer_id| name| txn_id|amount|  txn_date|count|
+-----------+-----+-------+------+----------+-----+
|          1|Alice|TXN1001|   250|2025-09-20|    2|
|          2|  Bob|TXN1003|   400|2025-09-20|    2|
+-----------+-----+-------+------+----------+-----+

**Get unique customer (by customer_id)**

In [0]:
df.dropDuplicates(['customer_id']).show()

+-----------+-----+-------+------+----------+
|customer_id| name| txn_id|amount|  txn_date|
+-----------+-----+-------+------+----------+
|          1|Alice|TXN1001|   250|2025-09-20|
|          2|  Bob|TXN1003|   400|2025-09-20|
|          3|Cathy|TXN1004|   150|2025-09-21|
|          4|  Dan|TXN1005|   200|2025-09-22|
+-----------+-----+-------+------+----------+

**Get unique transaction per customer (customer_id, txn_id)**

In [0]:
df.dropDuplicates(["customer_id", "txn_id"]).show()

+-----------+-----+-------+------+----------+
|customer_id| name| txn_id|amount|  txn_date|
+-----------+-----+-------+------+----------+
|          1|Alice|TXN1001|   250|2025-09-20|
|          1|Alice|TXN1002|   300|2025-09-21|
|          2|  Bob|TXN1003|   400|2025-09-20|
|          3|Cathy|TXN1004|   150|2025-09-21|
|          4|  Dan|TXN1005|   200|2025-09-22|
|          4|  Dan|TXN1006|   500|2025-09-23|
+-----------+-----+-------+------+----------+

**Find customer with more than 1 transaction**

In [0]:
df.dropDuplicates(["customer_id", "txn_id"]).groupBy("customer_id").count().filter(col("count")>1).show()

+-----------+-----+
|customer_id|count|
+-----------+-----+
|          1|    2|
|          4|    2|
+-----------+-----+

**Find duplicate transactions (where txn_id repeats)**

In [0]:
df.groupBy("txn_id").count().filter(col("count")>1).show()

+-------+-----+
| txn_id|count|
+-------+-----+
|TXN1001|    2|
|TXN1003|    2|
+-------+-----+